<a href="https://colab.research.google.com/github/joannediaz04/ADVANCED-DATA-VISUALIZATION-MIDTERM-EXAM/blob/main/ADVANCED_DATA_VISUALIZATION_MIDTERM_EXAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
name = input("what is your name? ")
print("Hello", "Joanne Diaz")
age = input("How old are you? ")
print ("Joanne Diaz", 22, "years old")

what is your name? joanne diaz
Hello Joanne Diaz
How old are you? 22
Joanne Diaz 22 years old

In [15]:
s = "pizza"
t = s.capitalize()

print(t)

Pizza

In [16]:
s = "pizza"
t = s.upper()

print(t)

PIZZA

In [17]:
s = "pizza"
t = s.lower()

print(t)

pizza

In [53]:
name = "Read"
name.replace('Read', 'Peal')

'Peal'

In [49]:
a = 2
b = 3
c = 2.3
d = True
type(a),type(b),type(c),type(d)

(int, int, float, bool)

In [52]:
name = input("I am")
print(f"Hello {name}!")
birth_year = input("What is your birth year? ")
birth_year = int(birth_year)
print(f"You are {(22)} years old!")

I amJoanne Diaz
Hello Joanne Diaz!
What is your birth year? 22
You are 22 years old!

In [84]:
s1=input("Enter the first number: ")
s2=input("Enter the second number: ")
Add= float(s1)+float(s2)
print('Sum: {1} + {1} = {2}'.format(s1, s2, Add))
Subtract= float(s1)-float(s2)
print('Difference: {1} - {1} = {2}'.format(s1, s2, Subtract))
Multiply= float(s1)*float(s2)
print('Product: {1} * {1} = {2}'.format(s1, s2, Multiply))
Divide= float(s1)/float(s2)
print('Quotient: {1} / {1} = {2}'.format(s1, s2, Divide))
Exponent= float(s1)**float(s2)
print('Power: {1} ** {1} = {2}'.format(s1, s2, Exponent))
Remainder= float(s1)%float(s2)
print('Division with Remainder: {0} / {1} = 0.0\n Remainder: {2}'.format(s1, s2, Remainder))

Enter the first number: 16
Enter the second number: 8
Sum: 8 + 8 = 24.0
Difference: 8 - 8 = 8.0
Product: 8 * 8 = 128.0
Quotient: 8 / 8 = 2.0
Power: 8 ** 8 = 4294967296.0
Division with Remainder: 16 / 8 = 0.0
 Remainder: 0.0

In [62]:
if 5 + 10:
  print("5 and 10 is not equal")

5 and 10 is not equal

In [63]:
choice = int(input("Enter your choice:"))
print("Enter two numbers: ")
num1 = float(input())
num2 = float(input())

Enter your choice:16
Enter two numbers:
6
8

In [87]:
if choice == 1:
  res = num1 + num2
  print("Result =", res)
elif choice == 2:
    res = num1 - num2
    print("Result = ", res)
elif  choice == 3:
    res = num1 * num2
    print("Result ", res)
elif choice == 4:
    res = num1 / num2
    print("Result ", res)
elif choice == 5:
    exit()
else:
    print("wrong output")

wrong output

In [66]:
thislist = ["apple", "banana", "cherry"]

print("thislist['apple']")

thislist['apple']

In [73]:
thislist = ["apple", "blackcurrant", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [72]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [75]:
x = [7, 4, 3, 2, 5]
x.remove(5)

print(x)

[7, 4, 3, 2]

In [79]:
z = [7,5,3,3]
print(z.pop(1)) 
print(z)

5
[7, 3, 3]

In [80]:
x = [1,2,3]
x.extend([4,5]) 
print(x)

[1, 2, 3, 4, 5]

In [81]:
z = [1,2,3,4,5]
z.insert(4, [1, 2]) 
print(z)

[1, 2, 3, 4, [1, 2], 5]

In [83]:
import numpy
lst = [1,7,0,6,2,5,6]
arr = numpy.asarray(lst)
print("1,7,0,6,2,5,6:", lst)
("numpy: ", arr)
arr1 = numpy.asarray(arr)
print("arr: " , arr1)
arr1[3] = 23
print("lst: " , lst) 
print("arr1: " , arr1)

1,7,0,6,2,5,6: [1, 7, 0, 6, 2, 5, 6]
arr:  [1 7 0 6 2 5 6]
lst:  [1, 7, 0, 6, 2, 5, 6]
arr1:  [ 1  7  0 23  2  5  6]